* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  width: 25%;
}
#regForm {
  background-color: #ffffff;
  margin: 30px auto;
  font-family: Raleway;
  padding: 2% 5%;
  width: 45%;
  min-width: 300px;
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}
.loader img {
  width: 50px;
  height: 50px;
}
.loader {
  display: none;
  
}

button {
  background-color: #0d9548;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  display: none;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4CAF50;
}